*{
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  padding-left: 40px;
}


p {
  margin-top: 1px;
}

h1{
  font-weight: 700; 
  margin-bottom: 0;
}
       

.header-top{
  display: flex;
 justify-content: space-between;
 align-items: center;
padding: 7px;

}
.header-top .logo img{
    width: 70px;
    height: auto;
   
   } 
   
.navigation {
  position: relative;  
  display: flex;     
}

    .navigation a{ 
     text-decoration: none;
     margin: 30px;
    color: black;
    
   } 
    .navigation .active{ 
     color:  #0065FC;
    
   }

   

    .navigation .bar{
        position: absolute;
        top: 0px;
        height: 3px;
        background-color: #0065FC;
        border-radius: 2px;
        transition: all 0.3s ease;

        }

        .Rechercher{
          display: flex;
         align-items: center;
         border: 1px solid #ddd;
          border-radius: 25px;
          overflow: hidden;
          width: fit-content;
          background: #fff;

            }

            .iconSize{
              padding: 10px 15px;
              background: #f1eded;
              display: flex;
              align-items: center;
              justify-content: center;
               }

               .iconSize i{
                font-size: 18px;
                color: black;
                    
                 }


                 .reche input{

                  border: none;
                  outline: none;
                  padding: 10px 15px;
                  font-size: 16px;
                  min-width: 200px;

                   }

                   .btnRechercher{
                    background: #0065FC;
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                    font-weight: 600;

                     }


                     .filtres{
                      display: flex;
                      align-items: center;
                      gap: 40px;
                      margin-top: 20px;
                      flex-wrap: wrap;
                      
                      

                      }

                      .titreFiltres{

                        font-weight: 700;
                        font-size: 18px;
                        
                         }

                         .listeFiltres{
                          display: flex;
                          gap: 25px;
                          flex-wrap: wrap;


                           }
                           

                           .filtre{

                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border: 2px solid #ddd;
                            border-radius: 30px;
                            padding: 8px 16px;
                            background: white;
                            cursor: pointer;
                            font-size: 15px;
                            font-weight: 550;
                            transition: all 0.3s ease;
                            
                             
                             }


                             .filtre i{
                              color: #0065FC;
                             
                  
                               }

                               .filtre:hover {

                                border-color: #0065FC;
                                background: #f0f6ff;
                                transform: translateY(-3px);

                                 }

                                 .infoLogements {
                                         display: flex;
                                          align-items: center;
                                          gap: 10px;                
                                          margin: 20px 0;
                                          color: #333;
                                           font-size: 16px;
                                }

                    .infoLogements i {
                          color: #0065FC;            
                          font-size: 18px;
                         }



           